body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cac1b0;
}

.container {
  display: flex;
  position: relative;
}

.input-panel {
  flex: 1;
  padding: 20px;
}

.output-panel {
  flex: 1;
  padding: 20px;
}

#output {
  height: 1000px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #333;
  border-radius: 2px;
  display: block;
  padding: 5px;
  overflow: auto;
  background-color: #f9f9f9;
  margin-top: 10px;
}

#input {
  width: calc(100% - 10px); /* Adjust padding */
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #38375c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
.navbar{
  background-color: #FCDBD5;
  position: fixed;
  width: auto;
  flex: 1;
  padding: 30px;
}
.run{
  text-align: right;
}

.gutter.gutter-horizontal{
  cursor: col-resize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
}
.tt{
  height: 1000px;
}
#nav{
  background-color: #aea49f;
  padding: 30px;
}
.wlox{
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}
#run{
  float: right;
  margin-top: 60px;
}